body {
    padding-top: 8rem;
    font-family: 'Open Sans', sans-serif;
}
nav ul li a {
    color: #666!important;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;
	text-decoration: none;
}
nav ul li a:hover {
    text-shadow: 1px 1px 5px #CCC;
}
.nav-link{
    padding-left: 5rem!important;
}
#perfil{
    background-color: rgb(184, 0, 190);
    text-align: center;
	border: 1px solid black;
	width: 13650px;
    padding: 0px 166px;
    max-width: 100%;
}
h1{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center    ;
    background-color: rgb(184, 0, 190);
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(184, 0, 190);
    
}
h3{
    font-family: agency fb;
    font-size: 25px;
    text-transform: uppercase;
}
p{
    font-family: agency fb;
    font-size: 20px;
    text-transform: uppercase;
}

footer{
    background-color: rgb(184, 0, 190);
    text-align: center;
	border: 1px solid black;
	width: 1365px;
    padding: 0px 166px;
   
}
#tudo{
    width: 980px;
    border: 1px solid #555;
    margin: auto; 
}